<div class="announcement-bar"> 
  <div class="announcement-bar-container">
    <div class="announcement-bar-items">
      <span>Free Shipping & Returns!</span>
    </div>
    <div class="announcement-bar-items">
      <span>Get Membership 15% off!</span>
    </div>
  <div>
</div>